<footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../javascripts/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../javascripts/ie10-viewport-bug-workaround.js"></script>
    <!-- ChartJS for this template -->
    <script src="../javascripts/chart.js/dist/chart.js"></script>
    <script src="../javascripts/aeoncharts.js"></script>
    
    <section>
      <div class="footer">
          <div class="logo-icon">
              <img src="../images/aeon-logo.png" alt="Aeon">
          </div>
             <p class="p_footer"> © Aeon, Inc. 2021. We love our users! </p>
         </div>
    </nav> 
  </section>
</footer>  
  </body>
</html>