<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 logo-footer">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="../images/aeon-logo.png" alt="" class="logo-aeon">
        </a>
      </div>
      <div class="col-sm-3 text-footer">
        <p class="p_footer">© Aeon, Inc. 2021. We love our users!</p>
      </div>
    </div>
  </div>
</footer>

</body>

</html>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/bootstrap.bundle.min.js"></script>
<!-- ChartJS for this template -->
<script src="../javascripts/chart.js/dist/chart.js"></script>
<script src="../javascripts/aeoncharts.js"></script>