      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#topo"><i class="fas fa-arrow-circle-up"></i> Topo</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../javascripts/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../javascripts/ie10-viewport-bug-workaround.js"></script>
    <!-- ChartJS for this template -->
    <script src="../javascripts/chart.js/dist/chart.js"></script>
    <script src="../javascripts/aeoncharts.js"></script>
    <script src="../javascripts/smothlink.js"></script>
  </body>
</html>