<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>&copy; 2021 AEON. Gestão Descomplicada para Agência de Marketing</p>
        <p><a href="#">Privacidade</a> &middot; <a href="#">Termos de uso</a></p>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-facebook-square pull-center"></i>
      </div>
      <div class="col-sm-3">
        <p class="pull-right"></i><a href="#topo"><i class="fas fa-arrow-circle-up"></i> Topo</a></p>
      </div>
    </div>
  </div>
</footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../javascripts/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../javascripts/ie10-viewport-bug-workaround.js"></script>
<!-- ChartJS for this template -->
<script src="../javascripts/chart.js/dist/chart.js"></script>
<script src="../javascripts/aeoncharts.js"></script>
<script src="../javascripts/smothlink.js"></script>
</body>

</html>