<footer>
    <div class="wrapper">
        <div class="text_footer">
        <img src="/images/aeonlogo2.png" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores temporibus voluptas iure molestiae officiis eius nostrum excepturi fuga reprehenderit ratione et, ut, libero ea corporis. Maiores eum pariatur provident?</p>
        </div>
        <div class="menu">
            <h3>Menu 1</h3>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </div>
        <div class="menu">
            <h3>Menu 2</h3>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </div>
    </div>
  <div class="faixa_footer">
      <p>2021 AOEN. Todos os direitos reservados.</p>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
  </div>  
</footer>
</body>
</html>