<!-- FOOTER -->
<footer class="container-fluid">
  <div class="container custom-footer">
    <div class="row">
        <div class="col-sm-8">
          <p>&copy; AEON - Gestão Descomplicada para Agência de Marketing</p>
          <p> <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram-square"></i>
          <i class="fab fa-facebook-square"></i>
        </div>
        <div class="col-sm-2">
          <p class="float-end"><a href="#">Back to top</a></p>
        </div>
    </div>
</div>
</footer>
</main>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/bootstrap.bundle.min.js"></script>
<!-- ChartJS for this template -->
<script src="../javascripts/chart.js/dist/chart.js"></script>
<script src="../javascripts/aeoncharts.js"></script>
</body>
</html>