<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEON</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styleHomePage.css ">
</head>
<body>
    <header>
        <div class="wrapper">
          <a class="logo" href="/"><img src="/images/logo-3.png" alt="Aeon" ></a>
            <nav>
                <a href="/">HOME</a>
                <a href="quem_somos">QUEM SOMOS</a>
                <a href="vantagens">VANTAGENS</a>
                <a href="para_quem">PARA QUEM</a>
                <a href="depoimentos">DEPOIMENTOS</a>
                <a href="contato">CONTATO</a>
            </nav>
        </div>
    </header>