<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="/sistema/dashboard" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="/images/logo-aeon-light.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="/images/logo-aeon-sm-light.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="/sistema/dashboard" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="/images/logo-aeon-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="/images/logo-aeon-sm-dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
                    aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="bi bi-house"></i>
                    <span class="menu-arrow"></span>
                    <span> Dashboards </span>
                </a>
                <div class="collapse" id="sidebarDashboards">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/sistema/dashboard">Visão Geral</a>
                        </li>
                        <li>
                            <a href="#">Clientes</a>
                        </li>
                        <li>
                            <a href="#">Custos</a>
                        </li>
                        <li>
                            <a href="#">Projetos</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarClientes" aria-expanded="false"
                    aria-controls="sidebarClientes" class="side-nav-link">
                    <i class="bi bi-people"></i>
                    <span> Clientes </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarClientes">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/sistema/clientes">Visão Geral</a>
                        </li>
                        <li>
                            <a href="/sistema/clientes/cadastrar">Cadastrar Cliente</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarFuncionarios" aria-expanded="false"
                    aria-controls="sidebarFuncionarios" class="side-nav-link">
                    <i class="bi bi-person-badge"></i>
                    <span> Funcionários </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarFuncionarios">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/sistema/funcionarios">Visão Geral</a>
                        </li>
                        <li>
                            <a href="/sistema/funcionarios/cadastrar">Cadastrar Funcionário</a>
                        </li>
                        <li>
                            <a href="#">Cadastrar Função</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarUsuarios" aria-expanded="false"
                    aria-controls="sidebarUsuarios" class="side-nav-link">
                    <i class="bi bi-person-circle"></i>
                    <span> Usuários </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarUsuarios">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="#">Visão Geral</a>
                        </li>
                        <li>
                            <a href="/login/registrar">Cadastrar Usuário</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarServicos" aria-expanded="false"
                    aria-controls="sidebarServicos" class="side-nav-link">
                    <i class="bi bi-briefcase"></i>
                    <span> Serviços </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarServicos">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/sistema/servicos">Visão Geral</a>
                        </li>
                        <li>
                            <a href="/sistema/servicos/cadastrar">Cadastrar Serviço</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- End Sidebar -->

            <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->