<%- include("../partials/header") %>

    <div class="container content userProfile">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-card-4 z-depth-3">
                    <div class="card">
                        <div class="card-body text-center bg-primary rounded-top">
                            <div class="user-box">
                                <img src="../../images/lucas-dev.jpg" alt="user avatar">
                            </div>
                            <h5 class="mb-1 text-white">Lucas Cavalcante</h5>
                            <h6 class="text-light">FullStack Developer</h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-group shadow-none">
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="list-details">
                                        <span>(99) 9 9999-9999</span>
                                        <small>Celular</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="list-details">
                                        <span>lucas@example.com</span>
                                        <small>E-mail</small>
                                    </div>
                                </li>
                                <!-- <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="list-details">
                                        <span>www.example.com</span>
                                        <small>Website Address</small>
                                    </div>
                                </li> -->
                            </ul>
                            <div class="row text-center mt-4">
                                <div class="col p-2">
                                    <h4 class="mb-1 line-height-5">154</h4>
                                    <small class="mb-0 font-weight-bold">Projetos na fila</small>
                                </div>
                                <div class="col p-2">
                                    <h4 class="mb-1 line-height-5">2.2k</h4>
                                    <small class="mb-0 font-weight-bold">Projetos finalizados</small>
                                </div>
                                <div class="col p-2">
                                    <h4 class="mb-1 line-height-5">9.1k</h4>
                                    <small class="mb-0 font-weight-bold">Não sei o que colocar aqui</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="javascript:void()" class="btn-social btn-facebook waves-effect waves-light m-1"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="javascript:void()"
                                class="btn-social btn-google-plus waves-effect waves-light m-1"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="javascript:void()"
                                class="list-inline-item btn-social btn-behance waves-effect waves-light"><i
                                    class="fa fa-behance"></i></a>
                            <a href="javascript:void()"
                                class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i
                                    class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card z-depth-3">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-pills-primary nav-justified">
                            <li class="nav-item editarProfileMenu">
                                <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                                    class="nav-link active show"><i class="icon-user"></i> <span
                                        class="hidden-xs">Perfil</span></a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="javascript:void();" data-target="#messages" data-toggle="pill"
                                    class="nav-link"><i class="icon-envelope-open"></i> <span
                                        class="hidden-xs">Mensagens</span></a>
                            </li> -->
                            <li class="nav-item editarProfileMenu">
                                <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i
                                        class="icon-note"></i> <span class="hidden-xs">Editar perfil</span></a>
                            </li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane active show" id="profile">
                                <h5 class="mb-3">Sobre Lucas</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Título curioso aqui</h6>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui doloribus, nemo recusandae minima odit expedita porro itaque. Accusantium eveniet at culpa, aperiam quos officia nisi dolor labore hic porro doloribus?
                                        </p>
                                        <h6>Hobbies</h6>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatibus eum magnam expedita provident nisi excepturi? Pariatur dolores quibusdam aperiam, nemo voluptates consequuntur error laborum omnis eveniet quaerat laudantium debitis.
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Conquistas recentes</h6>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">html5</a>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">react</a>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">codeply</a>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">angularjs</a>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">css3</a>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">jquery</a>
                                        <a href="javascript:void();" class="badge bg-dark customBadges">bootstrap</a>
                                        <a href="javascript:void();"
                                            class="badge bg-dark customBadges">responsive-design</a>
                                        <hr>
                                        <span class="badge bg-primary customBadges"><i class="fa fa-user"></i> 900
                                            Followers</span>
                                        <span class="badge bg-success customBadges"><i class="fa fa-cog"></i> 43 Forks</span>
                                        <span class="badge bg-danger customBadges"><i class="fa fa-eye"></i> 245 Views</span>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span>
                                            Atividades recentes</h5>
                                        <table class="table table-dark table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>Abby</strong> joined ACME Project Team in
                                                        <strong>`Collaboration`</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Gary</strong> deleted My Board1 in
                                                        <strong>`Discussions`</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Kensington</strong> deleted MyBoard3 in
                                                        <strong>`Discussions`</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>John</strong> deleted My Board1 in
                                                        <strong>`Discussions`</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Skell</strong> deleted his post Look at Why this is.. in
                                                        <strong>`Discussions`</strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <div class="tab-pane" id="messages">
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <div class="alert-icon">
                                        <i class="icon-info"></i>
                                    </div>
                                    <div class="alert-message">
                                        <span><strong>Info!</strong> Lorem Ipsum is simply dummy text.</span>
                                    </div>
                                </div>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="float-right font-weight-bold">3 hrs ago</span> Here is your
                                                a link to the latest summary report from the..
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="float-right font-weight-bold">Yesterday</span> There has
                                                been a request on your account since that was..
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="float-right font-weight-bold">9/10</span> Porttitor vitae
                                                ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="float-right font-weight-bold">9/4</span> Vestibulum
                                                tincidunt ullamcorper eros eget luctus.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="float-right font-weight-bold">9/4</span> Maxamillion ais
                                                the fix for tibulum tincidunt ullamcorper eros.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="edit">
                                <form action="/sistema/userprofile" method="POST" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Nome</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" name="nome" placeholder="Nome">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Sobrenome</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="sobrenome" type="text" placeholder="Sobrenome">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Função</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="funcao" type="text" placeholder="Função">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="email" type="email" placeholder="email@exemplo.com">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="profileImage" class="col-lg-3 col-form-label form-control-label">Alterar imagem</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" name="profileImage" id="profileImage" accept=".jpg, .jpeg, .png, .webp" type="file" multiple >
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Website</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="url" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="" placeholder="Street">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" value="" placeholder="City">
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="form-control" type="text" value="" placeholder="State">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="jhonsanmark">
                                        </div>
                                    </div> -->
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Senha</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="senha" name="password" placeholder="mínimo de 6 caracteres">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Confirmar 
                                            senha</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="password" name="password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <input type="reset" class="btn btn-secondary" value="Cancelar">
                                            <input type="button" class="btn btn-primary" value="Salvar">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <%- include("../partials/footer") %>