<%- include("../partials/headerSistema") %>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <%- include("../partials/sidebarSistema") %>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <%- include("../partials/topbarSistema") %>
                    <!-- end Topbar -->

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="http://localhost:3000/sistema/dashboard">Página inicial</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="http://localhost:3000/sistema/clientes">Clientes</a>
                                            </li>
                                            <li class="breadcrumb-item active">Cadastrar clientes</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Clientes - Cadastrar Clientes</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <%- include("../partials/footerSistema") %>