<%- include("./partials/header") %>

<div class="container">
  <div class="cadastro">
  <form class="form-signin">
      <br><br><br>
    <h2 class="form-signin-heading">Perfil de usuário</h2>
    <br><br>
    <label for="name" class="sr-only"></label>
    <input type="text" id="name" class="form-control" placeholder="Nome" required>
    <br>
    <div class="checkbox">
        <h5>Perfil</h5>
        <label>
          <input type="radio" name="perfil" value="Administrador" id="Administrador"> Administrador
          <br>
          <input type="radio" name="perfil" value="Colaborador" id="Colaborador"> Colaborador
        </label>
      </div>
      <br>
      <button type="button" class="btn  btn-info">Salvar</button>
      <button type="button" class="btn  btn-info">Excluir</button>
    <br><br>
  </form>
</div>
</div>
<%- include("./partials/footer") %>