<%- include("./partials/header") %>

<content>
    <div class="wrapper">
    <div class="box_1">
       <div class="texto_box1">
        <h1>Título maneiro em H1 aqui!</h1>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A iste ratione tenetur voluptas neque quidem quibusdam temporibus mollitia natus magnam amet, voluptates corporis iusto eos at soluta quia debitis inventore? Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
       <span> <a href="#">SAIBA MAIS</a></span>
       </div>
    </div>
    <div class="box_2">
       <div class="texto_box2">
       <h2>Título maneiro em H2 aqui!</h2>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nobis, quidem nihil similique natus aperiam eius, culpa ut corporis consequatur odit molestias quis quisquam fugit suscipit est debitis, reiciendis vel?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nobis, quidem nihil similique natus aperiam eius, culpa ut corporis consequatur odit molestias quis quisquam fugit suscipit est debitis, reiciendis vel?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nobis, quidem nihil similique natus aperiam eius, culpa ut corporis consequatur odit molestias quis quisquam fugit suscipit est debitis, reiciendis vel?</p>
       
       </div>
       <img class="imgequipe" src="/images/equipeaeon.jpg" alt="" width="400px">
    </div>
    <div class="box_3">
        <h2>Título maneiro em H2 aqui!</h2>
       <div class="img_radius">
        <img src="/images/equipe2aeon.png" alt="">
         <p>Título maneiro em H3 aqui!</p>
        </div>  
       <div class="img_radius">
        <img src="/images/equipe2aeon.png" alt="">
         <p>Título maneiro em H3 aqui!</p>
        </div> 
        <div class="img_radius">
            <img src="/images/equipe2aeon.png" alt="">
             <p>Título maneiro em H3 aqui!</p>
            </div>
    </div>
    <div class="box_4">
        <div class="box_radius">
            <img src="/images/equipe2aeon.png" alt="" width="180px">
            <img src="/images/equipe2aeon.png" alt="" width="180px">
            <img src="/images/equipe2aeon.png" alt="" width="180px">
            <img src="/images/equipe2aeon.png" alt="" width="180px">
        </div>
        <div class="text_box4">
        <h2>Título maneiro em H2 aqui!</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea error officia ratione debitis tempora aut, tempore reprehenderit! Eligendi atque temporibus vitae dignissimos cumque provident asperiores, rem molestiae quos dolorem a! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea error officia ratione debitis tempora aut, tempore reprehenderit! Eligendi atque temporibus vitae dignissimos cumque provident asperiores, rem molestiae quos dolorem a! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea error officia ratione debitis tempora aut, tempore reprehenderit! Eligendi atque temporibus vitae dignissimos cumque provident asperiores, rem molestiae quos dolorem a!</p>
        </div>
    </div>
    <div class="box_5">
        <h2>DEPOIMENTOS</h2>
        <div class="break">
        <div class="box_dep">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, maiores rerum pariatur provident earum consequuntur natus consectetur, nesciunt nostrum commodi distinctio mollitia debitis id cupiditate laborum magnam laboriosam nihil atque!</p>
            <img src="" alt="">
            <p>Nome Sobrenome Cargo</p>
        </div>
        <div class="box_dep">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, maiores rerum pariatur provident earum consequuntur natus consectetur, nesciunt nostrum commodi distinctio mollitia debitis id cupiditate laborum magnam laboriosam nihil atque!</p>
            <img src="" alt="">
            <p>Nome Sobrenome Cargo</p>
        </div>
        <div class="box_dep">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, maiores rerum pariatur provident earum consequuntur natus consectetur, nesciunt nostrum commodi distinctio mollitia debitis id cupiditate laborum magnam laboriosam nihil atque!</p>
            <img src="" alt="">
            <p>Nome Sobrenome Cargo</p>
        </div>
        </div>
    </div>
    <div class="box_6">
        <div class="text_box6">
        <h3>Venha falar conosco!</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et illum in, maxime quod, repudiandae iste officiis voluptas velit asperiores deserunt tenetur repellat expedita iusto aliquid nemo perspiciatis qui aperiam reiciendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et illum in, maxime quod, repudiandae iste officiis voluptas velit asperiores deserunt tenetur repellat expedita iusto aliquid nemo perspiciatis qui aperiam reiciendis.</p>
        </div>
        <form action="post">
            <label for="nome">Nome</label>
            <br>
            <input type="text" name="nome" id="nome">
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="email">
            <br>
            <label for="site">Website</label>
            <br>
            <input type="text" name="site" id="site">
            <br>
            <label for="telefone">Telefone</label>
            <br>
            <input type="telefone" name="tel" id="tel">
            <br>
            <button type="submit">ENVIAR</button>
        </form>
    </div>
    </div>
</content>

<%- include("./partials/footer") %>
