<%- include("./web-application/partials/header") %>
<section id="header">
  <div id="aeonHeaderMenu" class="header header-fixed">

  </div>  
</section>
<%- include("./web-application/partials/footer") %>