/* General tags */
:root {
  --main-bg: #ffffff;
  --blue-bg: #18A0FB;
  --txt-white: #ffffff;
  --txt-dark: #212121;
  --link-color: #00B7FF;
  --link-nav-color: #18A0FB;
  --link-nav-hover: #212121;

  --box-shadow: 0px 5px 10px 5px rgba(122, 122, 122, 0.4);
  --border-radius: 15px;
  --border-radius-top: 10px 10px 0 0;
  --border-radius-image-user: 50%;
  --topnav-height: 110px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form .mb-3 {
  margin-bottom: 2rem !important;
}

/* Logo */
.logo-aeon {
  max-width: 100%;
}

/* content */
.content-login {
  margin-top: 3%;
}

@media (max-width: 420px) {
  .content-login {
    margin-top: 10%;
  }
}

/* Form   */
.form-main {
  width: 100%;
  max-width: 450px;
}

.form-content {
  width: 100%;
  margin-top: 30px;
}

.panel-title {
  background: var(--blue-bg);
  border-radius: var(--border-radius-top);
  padding: 20px;
}

.form-signin-heading {
  color: var(--txt-white);
  margin: 5px;
  font-size: 1.2rem;
}

.divider {
  color: var(--txt-white);
}

.form {
  padding: 20px;
  border: 1px var(--link-color) solid;
}

.checkbox, .lgpd {
  margin-bottom: 15px;
}

.form-signin-foot {
  margin-top: 20px;
}

/* Footer */
footer .logo-aeon{
  max-width: 70%;
}

footer .text-footer {
  display: flex;
  align-items: flex-end;
}