body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-signin ,.form-signup {
    max-width: 35%;
    margin: 0 auto;
    padding: 0 27px;
  }
  .form-signin .form-signin-heading ,
  .form-signin .checkbox , .form-signup{
    margin-bottom: 10px;
  }
  .form-signin-heading{
    color: black;
    font-weight: bolder;
  }
  .form-signin-foot{
    color: rgb(80, 78, 78);
    
  }
  .form-signin .checkbox ,.form-signup{
    font-weight: normal;
  }
  .form-signin .form-control ,.form-signup{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus ,.form-signup{
    z-index: 2;
  }
  .form-signin input{
   box-sizing: border-box;
  }
  .form-signup label{
    display: block;
    margin-bottom: 5px;
}
  button{
    background-color: #2f96db;
    color: #eee;  
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;

  }
  .container{
    padding: 30px 0;
    margin-top: 2%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: thin;
    border-style: solid; 
    border-color: rgb(153, 151, 151);
  }
  .container_signup{
    padding: 30px 0;
    width: 30%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: thin;
    border-style: solid; 
    border-color: rgb(153, 151, 151);
  }
  .container_senha{
    width: 40%;
    padding: 80px;
    width: 30%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: thin;
    border-style: solid; 
    border-color: rgb(153, 151, 151);
  }
  @media (max-width:768px) {
    .container{
      width: 100%;
    }
    .container_signup{
      width: 100%;
    }
    .form-signin {
      max-width: max-content;
      margin: 0;
    }
    .form-signup{
      max-width: max-content;
      margin: 0;
    }
  }
  @media (min-width:768px){
    .container{
      width: 500px;
    }
    .container_signup{
      width: 500px;
    }
    .form-signin {
      max-width: max-content;
      margin: 0 ;
    }
    .form-signup{
      max-width: max-content;
      margin: 0;
      padding: 100px;
    }
  }