/* CSS Validação Cadastro Cliente */
sup, .erroCadastro {
  color: #b00020;
  font-weight: 600;
}

sup {
  font-size: smaller;
}

.erroCadastro {
  font-size: smaller;
}


/* CSS página de cliente */
.table .table-user img {
  height: auto;
  width: 100%;
}

.logotipoCliente {
  max-width: 100px;
}
