<%- include("../partials/headerLogin") %>
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-start">
                            <a href="index.html" class="logo-dark">
                                <span><img src="/images/logo-aeon-dark.png" alt="" height="26"></span>
                            </a>
                            <a href="index.html" class="logo-light">
                                <span><img src="/images/logo-aeon-sm-dark.png" alt="" height="26"></span>
                            </a>
                        </div>

                        <!-- email send icon with text--> 
                        <div class="text-center m-auto">
                            <img src="assets/images/mail_sent.svg" alt="mail sent image" height="64" />
                            <h4 class="text-dark-50 text-center mt-4 fw-bold">Confira seu email</h4>
                            <p class="text-muted mb-4">
                                Um email foi enviado para <b>youremail@domain.com</b>.
                                Por favor confira seu email e clique no link para criar uma nova senha.
                            </p>
                        </div>

                        <!-- form -->
                        <form action="index.html">
                            <div class="mb-0 d-grid text-center">
                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i> Voltar para pagina inicial </button>
                            </div>
                        </form>
                        <!-- end form-->

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <p class="text-muted">2018 - 2021 © AEON </p>
                        </footer>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            <div class="auth-fluid-right text-center">
                <div class="auth-user-testimonial">
                    <h2 class="mb-3">I love the color!</h2>
                    <p class="lead"><i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! . <i class="mdi mdi-format-quote-close"></i>
                    </p>
                    <p>
                        - Hyper Admin User
                    </p>
                </div> <!-- end auth-user-testimonial-->
            </div>
            <!-- end Auth fluid right content -->
        </div>
        <!-- end auth-fluid-->

        <!-- bundle -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>

    </body>

</html>