<%- include("../partials/headerLogin") %>
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <a href="index.html" class="logo-dark">
                        <span><img src="/images/logo-aeon-dark.png" alt="" height="26"></span>
                    </a>
                    <a href="index.html" class="logo-light">
                        <span><img src="/images/logo-aeon-sm-dark.png" alt="" height="26"></span>
                    </a>
                </div>

                <!-- title-->
                <h4 class="mt-0">Entrar</h4>
                <p class="text-muted mb-4">Digite seu e-mail e senha para acessar o sistema.</p>

                <!-- form -->
                <form class="row g-3 needs-validation" action=" <%= formAction %> " method="POST" novalidate>
                    <div class="col-mb-3">
                      <label for="validationCustomEmail" class="form-label">E-mail</label>
                      <input type="email" class="form-control" id="validationCustomEmail" name="email" required>
                      <div class="invalid-feedback">
                        Por favor, digite seu e-mail
                      </div>
                    </div>

                    <div class="col-mb-3">
                      <label for="validationCustomSenha" class="form-label">Senha</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">*</span>
                        <input type="password" class="form-control" id="validationCustomSenha" aria-describedby="inputGroupPrepend" name="senha" required>
                        <div class="invalid-feedback">
                          Por favor, digite a sua senha.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> <%= buttonMessage %> </button>
                    </div>
                  </form>
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt">
                    <p class="text-muted">&copy2022 AEON - Todos os direitos reservados. </p>
                </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">Bem-vindo(a) ao sistema Aeon</h2>
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->

    <!-- bundle -->
    <script src="/javascripts/vendor.min.js"></script>
    <script src="/javascripts/app.min.js"></script>

    </body>

    </html>