<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link rel="icon" href="../../favicon.ico">

  <title>
    <%= title %>
  </title>

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Fontawesome -->
  <link href="../fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../stylesheets/dashboard.css" rel="stylesheet">
  <link href="../stylesheets/signin.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../javascripts/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="d-flex flex-column">
  <div class="container-fluid content-login">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
        <div class="row align-items-md-stretch">
          <div class="logo d-flex flex-nowrap justify-content-center">
            <a href="/sistema" class="">
              <img src="<%= logoImage %>" alt="" class="logo-aeon">
            </a>
          </div>
          <h1 class="h1 pt-3 pb-2 mb-3 text-center">Você está pronto para revolucionar a gestão da sua agênica?</h1>
          <p class="pt-3 pb-2 mb-3 border-bottom text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore</p>
        </div>
        <div class="container form-main d-flex flex-nowrap justify-content-center">
          <div class="form-content">
            <div class="panel-title">
              <a href="login" class="form-signin-heading disabled">Entrar</a>
              <span class="divider"> | </span>
              <a href="/login/signup" class="form-signin-heading">Abrir Conta</a> <!-- Colocar icone-->
            </div>
            <div class="form">
              <div class="message-success text-center">
                <% if (created){%>
                <span id="created">Usuário registrado com sucesso!</span>
                <% } %>
                <% if (erro){%>
                  <span id="created" class="message-error">Usuário ou senha incorretos.</span>
                <% } %>
                <% if (email){%>
                  <span id="created" class="message-error">E-mail não existe.</span>
                <% } %>
              </div>
              <form class="form-signin" action="/login" method="POST">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"
                      aria-hidden="true"></i></span>
                  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-mail" aria-label="E-mail"
                    aria-describedby="basic-addon1" required autofocus>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
                </div>
                <div class="checkbox">
                  <input type="checkbox" class="form-check-input" value="remember-me"> Lembrar informações
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
                <a href="login/senha" class="d-flex form-signin-foot">esqueci minha senha</a>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <%- include("../partials/footer") %>