<%- include("../partials/header") %>

<div class="container">
  <div class="cadastro">
  <form class="form-signin" method="POST" action="/cadastrocliente">
      <br><br><br><br><br>
    <h2 class="form-signin-heading">Cadastrar novo cliente</h2>
    <br><br>
    <label for="id" class="sr-only"></label>
    <input type="number" id="id" class="form-control" name="id" placeholder="Id" required>
    <br>
    <label for="empresa" class="sr-only"></label>
    <input type="text" id="empresa" class="form-control" name="empresa" placeholder="Empresa" required>
    <br>
    <label for="criada" class="sr-only"></label>
    <input type="date" id="criada" class="form-control" name="criada" placeholder="Criada em" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
    <br><br>
  </form>
</div>
</div>
<%- include("../partials/footer") %>