<%- include("../partials/headerPages") %>
  <h1 class="alert alert-primary"><i class="fas fa-address-book"></i>
    <%= titulo %>
  </h1>
  <p><i class="fab fa-accessible-icon"></i>Welcome to <%= titulo %>
  </p>
  <button type="button" class="btn btn-primary"><i class="bi bi-activity"></i>teste</button>

  <%- include("../partials/footerPages") %>