<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-aeon.css' />
  </head>
  <body>
    <section class="header">
      <div class="row">
        <div class="wrapper">
            <h1>
                <a href="localhost:3000/web-application/">
                    <img class="logo" src="../images/aeon-logo.png" alt="AEON" />
                </a>
            </h1>
            <div class="topnav">
                <a href="#">Visão geral</a>
                <a href="#">Gestão de clientes</a>
            </div>
            <div class="profile-image">
              <img src="../images/user-image.png" alt="" class="profile-image-user" />
            </div>
        </div>
      </div>
  </section>